pip==20.1
bump2version==1.0.0
wheel==0.34.2
flake8==3.7.9
tox==3.21.2
coverage==5.1
Sphinx==3.0.3
twine==3.1.1

semver==2.10.0

deepmerge==0.1.0
pytest==5.4.2
pytest-runner==5.2
asynctest==0.13.0
pytest-asyncio==0.12.0
pytest-aiohttp==0.3.0
pytest-cov==2.8.1
